@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    tudo que em HTML é class = em CSS é .
*/
body{
    background-color: #5AEBBB;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #296B55;
}
h1#principal {
    text-align: center;
    background-color: #296B55;
    color: white;

}
h2{
    color:#41AB88
}
.basico{
    color: #ABD171;
}

.intermediario{
    color: #8BAB5C;
}
.avancado{
    color: #576B3A;
}
.destaque{
    background-color: #E4EB47;
}