body{
    background-image: url('');
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    padding: 50px;
}
header h1{
    font-size: 5em;
    font-weight: bold;            
}
main p{
    font-weight: bolder;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}