@charset "UTF-8";
¨* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA);
}
main {
    background-color: #fff;
    box-shadow: 5px 5px 5px #5c8a61a2;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    color: #13678A;
    text-align: center;
    text-shadow: 1px 1px 2px #0e4e6a9e;
}

h2{
    color: #45C4B0;
}

p {
    text-align: justify;

}